* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --green: #A8E6A3;
    --blue:  #A7D8E8;
    --pink: #F8B9D4;
    --purple: #D6A6D3;
    --bg-color: #F2D8E1;
    --active-scale: 0.8;
    --hover-scale: 1.1;
}

html {
    scrollbar-width: none;
}

body {
    user-select: none;
}

.app {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: #f4f4f4;
    background-image:
    linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
    background-size: 30px 30px;
    overflow: scroll;
    scrollbar-width: none;
}

/* Tool Section Styles */

.tools-section {
    position: absolute;
    width: 100px;
    height: 400px;
    background-color: rgb(9, 9, 9);
    border-radius: 20px;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Styling for Add Note Icon */

.add-note {
    filter: invert(1);
    cursor: pointer;
    transition: transform 0.2s ease;
}

.add-note:hover {
    transform: scale(var(--hover-scale));
}

.add-note:active {
    transform: scale(var(--active-scale));
}

/* Styling for Color Palette */

.colors {
    margin-top: 10px;
    transition: transform 0.2s ease;
}

.colors div {
    width: 50px;
    height: 50px; 
    border-radius: 50%;
    margin-top: 20px;
    cursor: pointer;
    transform: scale(--active-scale);
}

.green {
    background: var(--green);
}

.blue {
    background: var(--blue);
}

.pink {
    background: var(--pink);
}

.purple {
    background: var(--purple);
}

.colors div:hover {
    transform: scale(var(--hover-scale));
}

.colors div:active {
    transform: scale(var(--active-scale));
}

.note {
    max-width: 500px;
    max-height: 400px;
    min-width: 300px;
    min-height: 300px;
    position: absolute;
    left: 50%;
    top: 20%;
    background: wheat;
    border-radius: 10px;
    resize: both;
    overflow: auto;
    scrollbar-width: none;
    z-index: 1;
}

.note-header {
    position: relative;
    max-width: 500px;
    height: 50px;
    cursor: grab;
}

.note-header:active {
    cursor: grabbing;
}

.delete img {
    width: 25px;
    height: 25px;
}

.delete {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.delete:hover {
    transform: scale(var(--hover-scale));
}

.delete:active {
    transform: scale(var(--active-scale));
}

.text-area{
    max-width: 500px;
    max-height: 400px;
    min-width: 300px;
    min-height: 350px;
}

.note-content {
    font-family: cursive;
    font-size: 1.2rem;
    background: transparent;
    padding: 1rem;
    min-width: 300px;
    min-height: 348px;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    border: none;
}

textarea:enabled {
    outline: none;
}
